<div th:fragment="footer" class="footer" xmlns:th="http://www.w3.org/1999/xhtml">
  <div class="container mt-3 ">
      <span style="color:blue">Build Bright University @R507(2022-2025)</span>
  </div>
</div>