<!DOCTYPE html>
<html lang="en">
<head>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" >
  <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <meta charset="UTF-8">
    <title>List Category</title>
</head>
<body>
    <div class="container">
        <div th:replace="fragments/header :: header"></div>
        <div class="card">
            <div class="card-header">
                <span>List Category</span>
                <a class="btn btn-primary btn-sm float-end" th:href="@{/categories/create}">Create Category</a>
            </div>
            <div class="card-body">
                <div class="container">
                    <div class="row pt-3">
                        <div class="col-12">
                            <table class="table table-bordered table-hover ">
                                <thead>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Status</th>
                                <th>Action</th>
                                </thead>
                                <tbody>
                                <tr th:each="category:${categories}">
                                    <td th:text="${category.id}">ID</td>
                                    <td th:text="${category.name}">Name</td>
                                    <td >
                                        <span style="color: #0a53be !important;" th:if="${category.status=='ACT'}">Active</span>
                                        <span style="color: #a52834 !important;" th:if="${category.status=='DEL'}">Delete</span>
                                        <span style="color: #20c997 !important;" th:if="${category.status=='DSL'}">Disable</span>
                                    </td>
                                    <td>
                                        <a class="btn btn-sm btn-primary" th:href="@{'/categories/edit/'+${category.id}}">Edit</a>
                                        <a class="btn btn-sm btn-danger" th:href="@{'/categories/delete/'+${category.id}}">Delete</a>
                                        <a class="btn btn-sm btn-dark" th:href="@{'/categories/disable/'+${category.id}}">Disable</a>
                                        <a class="btn btn-sm bg-light" style="color: #0a53be" th:href="@{'/categories/active/'+${category.id}}">Active</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>

    <div class="container">
        <div th:replace="fragments/footer :: footer"></div>
    </div>
</body>
</html>

